
.content {
    z-index: 1000 !important;
    position: relative;
}

.description {
    color: #fff;
    font-size: 2.0em;
    font-family: 'Roboto Condensed', verdana;
    text-align: center
}

.dashboard {
    background: #efefef;
}

.blist-image {
     width: 100%;
     height: 100% !important;
     display: block;
     position: relative;
}

.blist-image::after{
    content: "";
    background-image: url('../images/main.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0; right: 0; left: 0; bottom: 0;
    position: absolute;
    z-index: 1;
    opacity: 0.95;
}

.container {
    min-width: 20em;
}

.labels {
    color: #01579b;
    cursor: pointer;
}

.main-container {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.signup-container {
    min-width: 20em;
}

.iconize {
    margin-top: .7em; position: relative;
}

.custom-button {
    height: 1em; width: 1em;
}

.bucket-title {
    text-decoration: none;
    font-size: 34px;
    font-family: 'Tangerine', serif;
}

.instance {
    border: 1px solid #efefef;
}
