<div class="wrapper" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" hide-gt-sm>
                <i class="material-icons iconize">menu</i>
            </md-button>
            <div flex class="md-padding">
                <a ui-sref="dashboard">Picto</a>
            </div>
            <md-list-item flex="5">
                <img class="md-avatar" ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=40&height=40"/>
            </md-list-item>
            <md-menu flex="5" md-position-mode="target-right target">
                <md-button aria-label="Open user menu"
                           class="md-icon-button"
                           ng-click="$mdOpenMenu($event)">
                    <icon md-menu-origin class="material-icons iconize"
                                >more_vert</icon>
                </md-button>
                <md-menu-content class="photo-menu-content">
                    <md-menu-item>
                        <md-button ui-sref="logout" class="menu-button">
                            <icon class="material-icons menu-icon user-logout-icon">power_settings_new</icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z1">
            <md-subheader class="md-no-sticky search-container">
                <md-input-container flex="60">
                    <input ng-model="search.who" placeholder="Search photos">
                </md-input-container>
                <md-button flex="30" class="md-icon-button upload-button" ngf-select="uploadPhoto($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB">
                    <i class="material-icons icon-upload">cloud_upload</i>
                    <md-tooltip>upload photo</md-tooltip>
                </md-button>
                <md-progress-circular ng-if="render.progressPercentage" flex="10" md-mode="determinate" value="{{render.progressPercentage}}" md-diameter="40"></md-progress-circular layout-align="center end">
                <span class="progress-percentage" ng-show="render.progressPercentage">{{render.progressPercentage}}% complete</span>
            </md-subheader>
            <md-list>
                <md-list-item ng-disabled="effects.init" ng-if="user.photos" ng-repeat="photo in user.photos | filter:search.who | orderBy:'-date_modified'" ng-click="close(photo.id); selectImage(photo); showFilters(photo);" class="thumbnail-list">
                    <img alt="{{ photo.name }}" ng-src="{{ photo.image_effect ? photo.image_effect:photo.image }}" class="thumbnail" />
                    <h3 class="photo-caption">{{ photo.name }}</h3>
                    <span class="photo-time">{{photo.date_modified | amCalendar}}</span>
                    <md-menu md-offset="0 -7" class="expand-more">
                        <md-button ng-disabled="effects.init" aria-label="Open user detail menu"
                                   class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)">
                            <icon md-menu-origin class="material-icons iconize icon-more"
                                        >expand_more</icon>
                        </md-button>
                        <md-menu-content class="photo-menu-content">
                            <md-menu-item>
                                <md-button for="rename-toggle" ng-click="renamePhoto(photo);" class="menu-button">
                                    <icon class="material-icons menu-icon">mode_edit</icon>
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="photoDelConfirm($event, photo.id);" class="menu-button">
                                    <icon class="material-icons menu-icon">delete</icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="sharePhoto(photo.image);" class="menu-button">
                                    <icon class="material-icons menu-icon">share</icon>
                                    Share
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <div ng-if="renameContainer[photo.id]" class="rename-input-container">
                        <md-input-container md-no-float class="md-block">
                            <md-icon class="material-icons">edit</md-icon>
                            <input layout="row" ng-model="render.rename" type="text" placeholder="enter name...">
                            <md-button ng-click="cancelRename(photo);" flex="70" class="md-icon-button" aria-label="cancel">
                                <md-icon class="material-icons">cancel</md-icon>
                                <md-tooltip>cancel</md-tooltip>
                            </md-button>
                            <md-button class="done-rename-button" ng-click="finishRename(photo);" flex="30" class="md-icon-button" aria-label="ok">
                                <md-icon class="material-icons">done</md-icon>
                                <md-tooltip>done</md-tooltip>
                            </md-button>
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item ng-if="user.noPhotos">
                    <h3 class="photo-caption">
                        You're almost there! Please upload a photo.
                    </h3>
                    <br\>
                </md-list-item>
                <md-list-item ng-if="user.noPhotos">
                    <h3 class="photo-caption">
                        Click the icon above to start.
                    </h3>
                    <br\>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content layout-margin layout-padding flex class="box">
            <div class="canvas-container" ng-model="selectedImage">
                <div ng-if="render.selectedPhoto" class="canvas-settings" layout="row">
                    <div flex="40" ng-show="render.selectedPhoto">
                        <md-button class="md-icon-button md-primary" aria-label="undo" ng-click="clearCanvas()" ng-disabled="!render.editingMode">
                            <i class="material-icons iconize">arrow_back</i>
                            <md-tooltip>Undo</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="restore" ng-click="restoreOrigin(selectedImage);">
                            <i class="material-icons iconize">restore</i>
                            <md-tooltip>Restore</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="photoDelInEditMode($event, selectedPhotoID);" ng-disabled="!render.editingMode">
                            <i class="material-icons iconize">delete</i>
                            <md-tooltip>Delete</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="save" ng-click="savePhoto(render.selectedPhoto, selectedPhotoID)" ng-disabled="!render.editingMode">
                            <i class="material-icons iconize">save</i>
                            <md-tooltip>Save</md-tooltip>
                        </md-button>
                    </div>
                    <span ng-if="render.selectedPhoto && !render.loading" class="canvas-container-title" flex="40">EDIT PHOTO</span>
                    <span class="canvas-container-title" ng-if="render.loading" flex="40">loading filters...</span>
                    <md-button ng-show="render.selectedPhoto" class="md-icon-button md-primary button-next" aria-label="Settings" flex="20" layout-align="end center" ng-disabled="!render.editingMode" ng-click="sharePhoto(render.selectedPhoto);">
                        SHARE
                    </md-button>
                </div>
                <div ng-if="!render.selectedPhoto" class="default-canvas" layout="row" layout-align="center center">
                    <h3 class="item" layout="column" layout-align="center center">No photo selected</h3>
                </div>
                <div class="c-i-container" ng-if="render.selectedPhoto">
                    <img class="canvas-image" ng-src="{{ render.selectedPhoto }}">
                </div>
            </div>
            <div class="canvas-loader" ng-if="render.loading" layout-align="space-around" layout="row">
                <md-progress-circular layout="column" md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-if="render.selectedPhoto && doneLoadingFilters" class="canvas-divider">
                <div class="effects-container">
                    <div class="repeated-item-container" ng-repeat="(key, value) in effects.url" layout="column">
                        <img onload="this.style.opacity='1';" layout="row" layout-align="center center" class="preview-effects" ng-src="{{value}}" ng-click="applyEffect(value);">
                        <span layout="row" class="preview-title" layout-align="center center">{{key}}</span>
                    </div>
                </div>
            </div>
      </md-content>
    </div>
</div>
