<div class="wrapper" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" hide-gt-sm>
                <i class="material-icons iconize">menu</i>
            </md-button>
            <div flex class="md-padding">
                <a ui-sref="dashboard">Pictor</a></div>
            <a flex="10" ui-sref="logout">Logout</a>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z1">
            <md-subheader class="md-no-sticky">
                <md-input-container>
                    <input ng-model="search.who" placeholder="Search photos" flex>
                </md-input-container>
            </md-subheader>
            <md-list class="uppered">
                <md-list-item ng-if="photo" ng-repeat="photo in photos | filter:search.who" ng-click="close(); selectPhoto(photo);">
                    <div layout="column">
                        <h3>{{ photo.name }}</h3>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item>There is no photo</md-list-item>
            </md-list>
        </md-sidenav>
        <md-content layout="row" layout-margin layout-padding flex>
        </md-content>
    </div>
</div>
