<div class="wrapper" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" hide-gt-sm>
                <i class="material-icons iconize">menu</i>
            </md-button>
            <div flex class="md-padding">
                <a ui-sref="dashboard">Pictor</a></div>
           <!-- <a flex="5" ui-sref="logout">{{user.name}}</a>-->
            <md-list-item aria-label="logout" flex="10" ui-sref="logout">
                <img ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=40&height=40" class="md-avatar"/>
            </md-list-item>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z1">
            <md-subheader class="md-no-sticky">
                <md-input-container>
                    <input ng-model="search.who" placeholder="Search photos" flex>
                </md-input-container>
            </md-subheader>
            <md-list class="uppered">
                <md-list-item ng-if="user.photos" ng-repeat="photo in user.photos | filter:search.who" ng-click="close(); selectImage(photo.image); showFilters(photo.image);">
                    <img alt="{{ photo.name }}" ng-src="{{ photo.image }}" class="md-avatar" />
                    <h3>{{ photo.name }}</h3>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item ng-if="!user.photos">There is no photo</md-list-item>
            </md-list>
        </md-sidenav>
        <md-content layout-margin layout-padding flex>
            <div class="canvas-container" ng-model="selectedImage">
                <div ng-if="!render.selectedPhoto" layout="row" layout-align="center center">
                    <h3 class="title" layout="column" layout-align="center center">No photo selected</h3>
                </div>
                <div ng-if="render.selectedPhoto">
                    <img alt="{{ photo.name }}" ng-src="{{ render.selectedPhoto }}">
                </div>
            </div>
            <div class="effects-container" layout="row" layout-align="center center">
                <md-virtual-repeat-container ng-if="effects" id="horizontal-container" md-orient-horizontal>
                    <div md-virtual-repeat="effect in effects"
                      class="repeated-item" flex>
                      {{effect}}
                    </div>
                </md-virtual-repeat-container>
            </div>
      </md-content>
    </div>
</div>
