<div class="wrapper" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" hide-gt-sm>
                <i class="material-icons iconize">menu</i>
            </md-button>
            <div flex class="md-padding">
                <a ui-sref="dashboard">Pictor</a>
            </div>
            <md-list-item aria-label="logout" flex="5">
                <img ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=40&height=40" class="md-avatar"/>
            </md-list-item>
            <md-button flex="5" class="md-button-icon" ui-sref="logout">
                <i class="material-icons iconize">power_settings_new</i>
                <md-tooltip>log out</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z1">
            <md-subheader class="md-no-sticky search-container">
                <md-input-container flex="80">
                    <input ng-model="search.who" placeholder="Search photos" flex>
                </md-input-container>
                <md-button flex="20" class="md-icon-button" ngf-select="uploadPhoto($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB">
                    <i class="material-icons iconize">cloud_upload</i>
                    <md-tooltip>upload photo</md-tooltip>
                </md-button>
            </md-subheader>
            <md-list>
                <md-list-item ng-if="user.photos" ng-repeat="photo in user.photos | filter:search.who" ng-click="close(); selectImage(photo.image); showFilters(photo.image);" class="thumbnail-list">
                    <img alt="{{ photo.name }}" ng-src="{{ photo.image }}" class="thumbnail" />
                    <h3 class="photo-caption">{{ photo.name }}</h3>
                    <md-menu md-offset="0 -7" class="expand-more">
                        <md-button aria-label="Open user detail menu"
                                   class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)">
                            <icon md-menu-origin class="material-icons iconize icon-more"
                                        >expand_more</icon>
                        </md-button>
                        <md-menu-content class="photo-menu-content">
                            <md-menu-item>
                                <md-button ng-click="renamePhoto(photo);" class="menu-button">
                                    <icon class="material-icons menu-icon">mode_edit</icon>
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="markUnedited();" class="menu-button">
                                    <icon class="material-icons menu-icon">undo</icon>
                                    Mark as unedited
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="photoDelConfirm($event, photo.id);" class="menu-button">
                                    <icon class="material-icons menu-icon">delete</icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
                <md-list-item ng-if="!user.photos">You are almost there! Please upload a photo to continue</md-list-item>
            </md-list>
        </md-sidenav>
        <md-content layout-margin layout-padding flex class="box">
            <div class="canvas-container" ng-model="selectedImage">
                <div class="canvas-settings" layout="row">
                    <div flex="90">
                        <md-button class="md-icon-button md-primary" aria-label="undo" ng-click="clearCanvas()" ng-disabled="!render.editingMode">
                            <i class="material-icons iconize">arrow_back</i>
                            <md-tooltip>Undo</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="restore" ng-click="restoreOrigin(selectedImage);" ng-disabled="!render.editingMode">
                            <i class="material-icons iconize">restore</i>
                            <md-tooltip>Restore</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="deletePhoto(selectedImage);" ng-disabled="!render.editingMode">
                            <i class="material-icons iconize">delete</i>
                            <md-tooltip>Delete</md-tooltip>
                        </md-button>
                    </div>
                    <md-button class="md-icon-button md-primary" aria-label="Settings" flex="10" layout-align="end center" ng-disabled="!render.editingMode">
                        next
                    </md-button>
                </div>
                <div ng-if="!render.selectedPhoto" class="default-canvas" layout="row" layout-align="center center">
                    <h3 class="item" layout="column" layout-align="center center">No photo selected</h3>
                </div>
                <div ng-if="render.selectedPhoto">
                    <img class="canvas-image" alt="{{ photo.name }}" ng-src="{{ render.selectedPhoto }}">
                </div>
            </div>
            <div class="effects-container" ng-if="render.selectedPhoto && doneLoadingFilters">
                <div class="repeated-item-container" ng-repeat="(key, value) in effects.url" layout="column">
                    <img layout="row" layout-align="center center" class="preview-effects" ng-src="{{value}}" ng-click="applyEffect(value);">
                    <span layout="row" class="preview-title" layout-align="center center">{{key}}</span>
                </div>
            </div>
            <div class="loader" ng-if="render.loading" layout-align="space-around" layout="row">
                <md-progress-circular layout="column" md-mode="indeterminate"></md-progress-circular>
            </div>
            <span  class="filter-loader" ng-if="render.loading" layout-align="center center" layout="row">applying your filters</span>
      </md-content>
    </div>
</div>
