   <div class="blist-image">
        <div layout="column" layout-align="center center" class="content">
            <md-card class="translucent">
                <md-card-header class="title login-title">
                    <md-card-header-text layout-align="center center">
                        <h1>Pictor</h1>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content class="login-container">
                    <h5 class="description" layout="row" layout-align="center center">
                    Pictor helps you edit your photos and share them with friends
                    </h5>
                    <md-button layout="row" layout-align="center center" class="md-raised fb-button" ng-click="login()">
                        Log in with Facebook
                    </md-button>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-footer layout-align="center center" class="footer login-container">
                    <h5>Copyright &#169; {{ date.now | date: 'yyyy' }}.&nbsp;A TIA production by <a class="footer-description" href="https://github.com/andela-ggikera">Jee Giks</a>&nbsp;from&nbsp;<a class="footer-description" href="http://www.andela.com">Andela</a>
                    </h5>
                </md-card-footer>
            </md-card>

        </div>
    </div>
