   <div class="blist-image">
        <div layout="column" layout-align="center center" class="content">
            <h3 class="description" layout="row" layout-align="center center">
                    Pictor helps you edit your photos to your liking.
            </h3>
            <md-card layout="column" ng-if="user.signup" layout-align="center center" class="main-container">
                <md-button class="md-raised" flex="100" ng-click="login()">Login with Facebook</md-button>
            </md-card>
        </div>
    </div>
